---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I’m StarGazer. Currently compiling my technical stack and interests.
		</p>
		<p>Here are my some of my awesome built in features:</p>
			<p>
			Click <a
				class="cactus-link inline-block"
				href="https://github.com/Star122013"
				rel="noreferrer"
				target="_blank">link</a
			> if you like me!
		</p>
	</div>
</PageLayout>
